
  <div class="container">
   <div class="header">
     
      <div id="nav-container">
          <div class="toggle-icon">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div> 
   </div>
   <div class="body"></div>
   <div class="footer">

<button class="menu">Home</button>
<button class="menu">Obras</button>
<button class="menu">Tickets</button>
<p>HOLAHOLA23</p>

   </div>
  
  </div>

  <!-- <nav class="navigation">
  <button class = "menu">home </button>
  <button class ="menu">  teatro </button>
  <button class ="menu">tickets </button>
  </nav> -->
