<main>
  <div>
    <nav class="navbar navbar-light bg-light" *ngIf = "identity">
      <img src="../assets/img/B_Balck.png" width="15px">
      <ul class="nav navbar navbar-right">
        <li class="avatar"></li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{identity.name}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="">
                Mi perfil
              </a>
            </li>
            <li>
                <a class="dropdown-item" [routerLink]="['/mis-datos']">
                  Mis datos
                </a>
              </li>
              <li>
                  <a class="dropdown-item" (click)="logout()">
                    Cerrar sesión
                  </a>
                </li>  

          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <router-outlet></router-outlet>
  <div *ngIf="identity">
    <app-navbar></app-navbar>
  </div>



</main>
